.header {
    user-select: none;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column;

    margin: 0;

    max-height: 180px;

    transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.content.collapsed {
    max-height: 0px;
}

.search-container {
    width: auto;

    padding: 5px 10px 10px 10px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.list-container {
    flex: 1;

    margin: 0;

    overflow-y: auto;
}
