<div class="header">
    <h1>Default options for machines & oil recipe usage</h1>
</div>

<div class="content">
    <div class="machine-container">
        <div class="search-container">
            <div class="input-container">
                <i class="fa fa-search"></i>
                <input id="titleField" type="search" placeholder="Search machines">
            </div>
        </div>

        <div class="list-container">
        </div>
    </div>

    <div class="oil-container">
        <div class="search-container">
            <div class="input-container">
                <i class="fa fa-search"></i>
                <input id="titleField" type="search" placeholder="Search oil recipes">
            </div>
        </div>

        <div class="list-container">
        </div>
    </div>
</div>
