.content {
    flex: 1;
    display: flex;
    flex-flow: column;

    margin: 0;
}

.search-container {
    width: auto;

    padding: 5px 10px 10px 10px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.list-container {
    flex: 1;

    margin: 0;

    overflow-y: scroll;
    /*overflow-y: scroll;*/
}

.list-container .list-content {
    column-count: 2;
    /* column-width: 40%; */
    column-rule: 2px solid rgba(255, 255, 255, 0.25);
    /* break-inside: avoid-column;
    -webkit-column-break-inside: avoid; */

    overflow: hidden;
}

.list-container .list-item {
    display: inline-block;
    width: 100%;
}

/* .list-container .list-item:nth-child(odd) {
    border-right: 2px solid rgba(255, 255, 255, 0.25);
} */
