<div class="header" (click)="collapsed = !collapsed">
    <h1>Default options for machine usage</h1>

    <div class="fa fa-chevron-circle-down collapser" [ngClass]="collapsed ? 'collapsed' : ''"></div>
</div>

<div class="content collapsable" [ngClass]="collapsed ? 'collapsed' : ''">
    <div class="search-container">
        <div class="input-container">
            <i class="fa fa-search"></i>
            <input type="search" placeholder="Search machine by name, crafting categories or mod">
        </div>
    </div>

    <div class="list-container">
        <app-crafting-category-options *ngFor="let cc of craftingCategories; let i = index" [id]="i" [craftingCategory]="cc"></app-crafting-category-options>
    </div>
</div>
