:host:nth-last-child(n+2) .ingredients-list {
    margin-bottom: 20px;
}

:host:not(.ingredients-list-item):nth-child(n+2) > .recipe-block {
    margin-top: 50px;
}

.recipe-block {
    position: relative;
    margin-top: 10px;
    padding: 5px;
    flex: 1;

    background: #c9dcec;

    border: 2px solid #1B1C1D;
    border-radius: 10px;
}

.recipe-block img {
    height: 48px;
    width: 48px;

    margin: 5px;

    float: left;

    filter: drop-shadow(0 0 5px black);
}

.recipe-block span {
    display: inline-block;

    margin-bottom: 5px;
}

.recipe-block .machines {
    margin-left: 58px;
    margin-right: 25px;
}

.recipe-block .machines * {
    vertical-align: middle;
}

.recipe-block .machines img {
    height: 32px;
    width: 32px;

    margin: 0;

    float: none;
}

.recipe-block .header {
    margin: 0;
    padding: 0;

    overflow: visible;

    border-bottom: none;
}

.recipe-block .header .collapser {
    right: 0;
    bottom: 0;

    margin: 0;
}

.recipe-block .settings {
    position: absolute;
    top: 5px;
    right: 5px;

    overflow: visible;
    
    font-size: 1.3em;

    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.recipe-block .settings:hover {
    transform: scale(1.3);
}

.ingredients-list {
    transition: height 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    position: relative;
    margin-left: 10px;

    overflow-y: hidden;
}

.ingredients-list-item {
    display: flex;
    flex-direction: column;

    border-left: 4px solid #1B1C1D;
}

.ingredients-list-item::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 25px;
    margin-left: -4px;

    border-bottom: 4px solid #1B1C1D;
    border-left: 4px solid #1B1C1D;
    border-radius: 0 0 0 20px;
}

.ingredients-list-item:last-child {
    border-left: 4px solid white;
}

.ingredients-list-item .recipe-block {
    margin-left: 15px;
}

.ingredients-list-item .ingredients-list
{
    margin-left: 30px;
}