.modal-container {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-container.open {
    display: block;
}

.modal-content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;

    overflow: visible;

    padding: 7px;

    background: #ffffff;
    border: 3px solid #1B1C1D;
    border-radius: 15px;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #1B1C1D;
    opacity: 0.75;

    z-index: 999;
}