<div class="mod-list-header header" (click)="modListContainerCollapseClick()">
    {{mod.name}}
    <div class="fa fa-chevron-circle-down collapser" [ngClass]="collapsed ? 'collapsed' : ''"></div>
</div>

<div #modListContainer class="mod-list-container collapsable" [style.height]="getModListContainerHeight()">
    <div class="mod-list collapsable">
        <div class="mod-list-item" *ngFor="let item of mod.items; let i = index">
            <app-item-options [id]="mod.name + id + i" [item]="item"></app-item-options>
        </div>
    </div>
</div>
