<div class="content">
    <div class="tree-container" *ngIf="sharedIngredients.length > 0">
        <div class="tree-header">
            Shared recipes
        </div>

        <div class="tree-content">
            <app-recipe-node *ngFor="let ing of sharedIngredients; let i = index" [ingredient]="ing"></app-recipe-node>
        </div>
    </div>
    <div class="tree-container" *ngFor="let ing of ingredients; let i = index">
        <div class="tree-header">
            {{ing.item}}
        </div>

        <div class="tree-content">
            <app-recipe-node [ingredient]="ing"></app-recipe-node>
        </div>
    </div>
</div>
