<div class="content">
    <div class="tree-container" *ngIf="sharedIngredients.length > 0">
        <div class="tree-header">
            Shared recipes
        </div>

        <div class="tree-content">
            <app-recipe-options *ngFor="let ing of sharedIngredients; let i = index" [id]="'shared' + ing.item.name + i" [ingredient]="ing"></app-recipe-options>
        </div>
    </div>
    <div class="tree-container" *ngFor="let ing of ingredients; let i = index">
        <div class="tree-header">
            {{ing.item.name}}
        </div>

        <div class="tree-content">
            <app-recipe-options [id]="'ingredient' + ing.item.name + i" [ingredient]="ing"></app-recipe-options>
        </div>
    </div>
</div>
