.settings-and-items-container {
    position: absolute;
    width: 250px;
    height: 100%;

    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column;

    border-right: 4px solid rgba(255, 255, 255, 0.25);

    background: #1B1C1D;
    color: white;
}

.default-usage-container {
    max-height: 224px;

    display: flex;
    flex-flow: column;

    padding: 0;
    margin: 0 0 0 254px;

    border-bottom: 4px solid rgba(255, 255, 255, 0.25);

    background: #1B1C1D;
    color: white;
}

.recipes-container {
    flex: 1;
    width: auto;

    display: flex;
    flex-flow: row;

    padding: 0;
    margin: 0 0 0 254px;
}