::ng-deep html,
::ng-deep body,
::ng-deep .body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

::ng-deep .body {
    display: flex;
    flex-flow: row;
}

.options-and-items-container {
    flex: 1;
    max-width: 250px;

    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column;

    border-right: 4px solid rgba(255, 255, 255, 0.25);

    background: #1B1C1D;
    color: white;
}

.default-usage-container {
    flex: 1;
    max-height: 181px;

    display: flex;
    flex-flow: column;

    padding: 0;
    margin: 0;

    border-bottom: 4px solid rgba(255, 255, 255, 0.25);

    background: #1B1C1D;
    color: white;
}

.recipes-container {
    width: auto;
    position: absolute;

    padding: 0;
    margin: 185px 0 0 254px;
}
