.header {
    user-select: none;
}

.settings-container {
    padding: 4px 10px 4px 10px;

    border-bottom: 4px solid rgba(255, 255, 255, 0.25);
}

.settings-container .button-group {
    display: flex;
    flex-flow: row;
}

.settings-container .button-group .button:first-child {
    margin-right: 6px;
}

.settings-container .button {
    width: auto;

    padding: 7px 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #105a92;

    background: #1784d7;
    text-align: center;

    user-select: none;
}

.settings-container .button:hover {
    background: #1576c0;
}

.settings-container .button:active {
    transform: translateY(2px);

    box-shadow: 0 3px #105a92;

    background: #1576c0;
}

.items-container {
    flex: 1;
    display: flex;
    flex-flow: column;

    margin: 0;
}

.item-search-container {
    width: auto;

    padding: 10px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.item-list-container {
    flex: 1;

    margin: 0;

    overflow-y: auto;
}
