@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

.body {
    min-width: 1200px;
    font-family: -apple-system,
        'Lato',
        'Helvetica Neue',
        'Helvetica',
        'sans-serif';
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.checkbox {
    width: 20px;
    position: relative;
    margin: 5px;
}

.checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, #2F3031 0%, #59595A 100%);
    background: linear-gradient(to bottom, #2F3031 0%, #59595A 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.checkbox label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    opacity: 0.3;
}

.checkbox input[type=checkbox] {
    visibility: hidden;
}

.checkbox input[type=checkbox]:checked+label:after {
    opacity: 1;
}

body *::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    z-index: 1000;
}

body *::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.05), inset 1px 1px 0px rgba(255, 255, 255, 0.05);
}

body *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

body *::-webkit-scrollbar-corner {
    background-color: transparent;
}

body *::-webkit-scrollbar-track {
    padding: 0;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
}

html,
body,
.body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.body {
    height: auto;
    display: flex;
    flex-flow: column;
    position: relative;
}

body.modal-open {
    overflow: hidden;
}


h1 {
    margin: 0;
    padding: 0;
    float: left;

    font-size: 1.3em;
}

.header {
    position: relative;
    width: auto;

    margin: 0 5px 5px 5px;
    padding: 5px 0;
    overflow: hidden;

    border-bottom: 4px dashed rgba(255, 255, 255, 0.5);
}

.header span {
    display: inline-block;

    margin-right: 25px;

    overflow-wrap: break-word;
}

.header .collapser {
    position: absolute;
    right: 0;
    bottom: 5px;

    margin-right: 5px;

    font-size: 1.3em;

    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.header:hover .collapser {
    transform: scale(1.3);
}

.header .collapser.collapsed {
    transform: rotate(180deg);
}

.header:hover .collapser.collapsed{
    transform: rotate(180deg) scale(1.3);
}

.collapsable {
    overflow: hidden;
}

.input-container {
    display: table;
    width: 100%;
    height: 25px;

    border-radius: 3px;
    border: 1px solid #d3d3d3;

    background: white;
}

.input-container>i {
    display: inline-block;
    display: table-cell;
    width: 20px;

    padding: 3px 5px;
    padding-right: 0;

    color: #999999;
}

.input-container>input[type="search"] {
    display: table-cell;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    -webkit-appearance: textfield;
    outline-offset: -2px;
    outline: none;
    border: none;

    background: transparent;
}
