<div class="header">
    <h1>Options & Items</h1>
    <div class="fa fa-chevron-circle-down collapser"></div>
</div>

<div class="options-container" id="options_container">
    <div id="set-factorio-path" class="button" (click)="setFactorioPath()">Set factorio path</div>
    <div id="set-mod-path" class="button" (click)="setModPath()">Set mods path</div>
    <div id="toggle-mods" class="button" (click)="toggleMods()">Enable/disable mods</div>
</div>

<div class="items-container collapsable" id="items_container">
    <div class="item-search-container">
        <div class="input-container">
            <i class="fa fa-search"></i>
            <input id="titleField" type="search" placeholder="Search items/mods">
        </div>
    </div>

    <div class="item-list-container collapsable">
    </div>
</div>
